*{
}
body{
    padding: 0;
}
header{
    background-color: #74449E;
}
nav{
    display: flex;
    text-decoration: none;
    height: 42px;
    margin-top: -10px;
}
.home{
    display: flex;
    gap: 20px;
    width: 600px;
    background-color: #A6368C;
}
.head-four{
    color: white;
    text-decoration: none;
    margin-left: 150px;
    margin-top: -8px;
}
.he:hover{
    background-color:  #F8B51F;
}
.head{
    color: white;
    text-decoration: none;
    margin-top: -8px;
}
.h:hover{
    background-color:  #F8B51F;
}
.today{
    margin-left: 360px;
    font-size: 17px;
    background-color: lightslategray;
    width: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.top{
    margin-top: 15px;
    margin-left: 100px;
    display: flex;
}
.image{
    margin-top: 5px;
}
.img{
    margin-left: 25px;
}
.operations{
    display: flex;
    gap: 10px;
    margin-top: -20px;
    margin-left: 120px;
}
.head-one{
    color: white;
    background-color: #D10056;
    height: 15px;
    width: 130px;
    margin-left: 200px;
    padding: 10px;
}
.head-one:hover{
    background-color:  #592B81;
}
.head-two{
    color: white;
    background-color: #592B81;
    height: 12px;
    width: 146px;
    padding: 10px;
}
.head-two:hover{
    background-color:  #D10056;
}
.head-three{
    color: white;
    background-color: #592B81;
    height: 12px;
    width: 90px;
    padding: 10px;
}
.head-three:hover{
    background-color:  #D10056 ;
}
.search{
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 220px;
    padding: 10px;
}
.glass{
    margin-left: -25px;
    margin-top: -280px;
    height: 20px;
    margin-bottom: -7px;
    color: darkmagenta;
}

.ways{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-top: -40px;
    gap: 20px;
}
.hee:hover{
    background-color: #592B81;
}
.write{
    color: #808080;
    font-size: 17px;
    line-height: 23px;
    background-color: #FFFFFF;
    height: 115px;
    width: 326px;
}
.cash{
    display: flex;
    padding: 20px;
    margin-top: 10px;
}
.manage{
    margin-left: 150px;
    border-color: #898B8B;
}
.man{
    border-color: #333333;
    margin-top: 30px;
    width: 310px;
}
.foreign{
    border: 50px;
    border-color: #808080;
}
.age{
    border-color: #333333;
    width: 310px;
}
.corporate{
    border: 100px;
    border-color: red;
}
.aged{
    border: 10px;
    border-color: #333333;
    margin-top: 30px;
    width: 310px;
}
.find{
    background-color: #A6368C;
    color: #FFFFFF;
    border: none;
    height: 39px;
    width: 175px;
    font-weight: 400;
    font-size: 15px;
    margin-left: 150px;
}
button{
    background-color: #A6368C;
    color: #FFFFFF;
    border: none;
    height: 39px;
    width: 175px;
    font-weight: 400;
    font-size: 15px;
   }
button:hover{
    background-color:  #F8B51F;
}
.out{
    margin-top: 150px;
}
